<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vacancy's event</title>
</head>
<body>
<form action="/vacancy/{{id_vac}}/event/{{id_event}}/" method="GET">
        <legend>
            <h2> Vacancy's event: </h2>
        </legend>
        <div>
            {{res_id_event}}
        </div>
</form>

<form action="/vacancy/{{id_vac}}/event/{{id_event}}/" method="POST">
        <legend>
            <h2> Edit event: </h2>
        </legend>
        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="description"><br>
        <label for="event_date">Event_date:</label>
        <input type="text" name="event_date" placeholder="event_date"><br>
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="title"><br>
        <label for="due_to_date">Due_to_date:</label>
        <input type="text" name="due_to_date" placeholder="due_to_date"><br>
        <label for="status">Status:</label>
        <input type="text" name="status" placeholder="status"><br>
        <input type="submit" value="Edit event">
</form>
</body>
</html>