<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add vacancy</title>
</head>
<body>
<form action="/vacancy/" method="GET">
        <legend>
            <h2> Vacancies: </h2>
        </legend>
        <div>
            {% for vacancy in vacancies %}
                Company: {{vacancy.company}}<br>
                Position: {{vacancy.position_name}}<br>
                Comment: {{vacancy.comment}}<br>
                Description: {{vacancy.description}}<br>
                {% for one_contact in vacancy.contacts %}
                    Name: {{one_contact.name}}<br>
                    Email: {{one_contact.email}}<br>
                    Mobile: {{one_contact.mobile}}<br>
                <br> -- -- -- -- -- -- -- -- -- -- <br>
                {% endfor %}
            <br> -------------------------------- <br>
            {% endfor %}
        </div>
</form>

<form action="/vacancy/" method="POST">
    <legend>
        <h2> Add new vacancy: </h2>
    </legend>
    <label for="company">Company:</label>
    <input type="text" name="company" placeholder="company"><br>
    <label for="name">Contacts_name:</label>
    <input type="text" name="name" placeholder="name"><br>
    <label for="contact_email">Contact_email:</label>
    <input type="text" name="contact_email" placeholder="contact_email"><br>
    <label for="mobile_contact">Mobile_contact:</label>
    <input type="text" name="mobile_contact" placeholder="mobile_contact"><br>
    <label for="description">Description:</label>
    <input type="text" name="description" placeholder="description"><br>
    <label for="position_name">Position_name:</label>
    <input type="text" name="position_name" placeholder="position_name"><br>
    <label for="comment">Comment:</label>
    <input type="text" name="comment" placeholder="comment"><br>
    <input type="submit" value="Add vacancy">
</form>
</body>
</html>